

.circle {
    height: 45vmax;
    width: 45vmax;
    border-radius: 100%;
    background-color: rgb(10,134,76);
    position: absolute;
    left: 70vmax;
    z-index: 3;


}

.photo {
    height: 18vmax;
    width: 18vmax;
    border-radius: 100%;
    position: absolute;
    left: 63vmax;
    top: 18vmax;
    z-index: 4;

}


.BackgroundImage{
    position: absolute;
    width: 20vmax;
    left: -2vmax;
    top: 0vmax;
    z-index: 1;
}
.ResultHeading{
    display: flex;
    justify-content: center;
    padding-top: 14vmax;
    align-self: center;
    width: 70%;

}
.ResultHeading > div > h1{
    color: rgb(2, 109, 59);
    font-size: 3vmax;
}
.ResultButtons{
    margin-top: 1vmax;
    padding-left: 3vmax;
    width: 29vmax;
    display: flex;
    justify-content: space-between;
}
.KnowMore{
    background-color: rgb(7, 185, 102);
    color: white;
    font-size: 1.1vmax;
    width: 10vmax;
    height: 3vmax;
    border-radius: 8%;
    border-width: 0px;
    transition: all 0.3s;
}
.KnowMore:hover{
    background-color: rgb(7, 143, 79);
}
.TryAgain{
    background-color: #F9C70C;
    font-size: 1.1vmax;
    width: 10vmax;
    height: 3vmax;
    border-radius: 8%;
    border-width: 0px;
    transition: all 0.3s;
}
.TryAgain:hover{
    background-color: #d6a906;
}
.ResultDiscription{
    width: 100%;
    margin-top: 17vmax;
    position: relative;
}

.ResultDiscription{
}

.circle2{
    height: 45vmax;
    width: 45vmax;
    border-radius: 100%;
    background-color: rgb(10,134,76);
    position: absolute;
    right: 78vmax;
    top: 48vmax;
    z-index: 3;

}

.discriptionBlock{
    display: flex;
    justify-content: center;
    padding-left: 26vmax;
    align-self: center;
    width: 100%;
    z-index: 1;
    margin-top: 10vmax;
}

.discriptionBlock > div >  h1 {
    color: rgb(2, 109, 59);
    font-size: 2vmax;
}
.discriptionBlock > div> p{
    word-wrap: break-word;
    font-size: 1vmax;
}