@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
* {
  background-color: #fefff4;
}
.card {
  display: flex;
  width: 80vmax;
  height: 35vmax;
  padding: 3vmax;
  margin: 6vmax 0vmax 2vmax 10vmax;
  border-radius: 1vmax;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}

.card:hover {
  cursor: pointer;
}

.Image-container {
  position: relative;
}

.Image-top {
  position: absolute;
  width: 18vmax;
  height: 18vmax;
  top: 0vmax;
  left: 0vmax;
}
.Image-Bottom {
  position: absolute;
  width: 18vmax;
  height: 18vmax;
  top: 10vmax;
  left: 6.5vmax;
}

.card-description {
  margin-left: 33vmax;
}

.card-description h2 {
  font-size: 32px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card-description p {
  font-size: 21px;
  font-family: "Poppins", sans-serif;
  padding-top: 1vmax;
  overflow: hidden;
  --max-lines: 12;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}
