.navbar-body {
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 5px #F6FDED;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    z-index: 100;
}

.navbar-body img {
    height: 60px;
    margin-left: 25px;
    background-color: white;
    cursor: pointer;
}

.navbar-flex {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-right: 50px;
    font-size: 24px;
    font-weight: 600;
    font-variant-numeric: inherit;
    background-color: white;
}

.navbar-links {
    background-color: white;
    text-decoration: none;
    color: #046d3c;
    transition: all 0.15s linear;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-links:hover {
    color: #07b865;
}
.active {
    color: #07b865;
}